@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Flavors&family=Ruge+Boogie&display=swap');

/*h1 {
    font-size: large;
    color: brown;
    font-family: "Slackey", cursive;
    font-size: 50px;
   
  }*/
  .titulo {
    width: 400px;

  }
  .folhaPagina1 {
    width: 608px;
    height: 795px;
    background-color: #efede5;
    /* margin: 50px; */
    margin: 0px auto;
    position: relative;
    top: 0px;
    left: 0px;
    /* border: 1px solid#959494; */
    margin: 10px auto  !important;
  }
  
  .tituloAbertura {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
    padding: 9px;
    position: relative;
    z-index: 2;
  }

  /*
  .letraO{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 63px;
    font-family: 'Flavors', cursive;
    font-size: 60px;
    color: #fff;
    background-color: #ed8422;
    float: left;
    position: relative;
    opacity: 100%;
    left: -3px;
    top: 0px;
    margin: 2px 6px -2px 2px;
    border: 1px solid #fff;
  
  }*/

  .letraO{
    width: 65px;
    height:80px;
    float: left;
    position: relative;
    opacity: 100%;
    left: -3px;
    top: 0px;
  
  }
  
  .conteudoTexto {
    text-align: inherit;
    font-size: 14px;
    margin: 0px 70px 70px 70px;
    margin-bottom: 0.5rem;
    position: absolute;
    top: -35px;
  }
  
  /*emilia*/
  .personagem1 {
    width: 172px;
    height: 142px;
    float: right;
    shape-outside: circle(40%);
    background-size: 80px;
    margin: 21px;
    position: relative;
    left: 41px;
    top: 5px;
  }
  /*visconde*/
  .personagem2 {
    width: 150px;
    height: 150px;
    float: left;
    shape-outside: circle(50%);
    margin: 28px -26px 21px 21px;
    position: relative;
    left: -55px;
  }
  /*porquinho*/
  .personagem3 {
    width: 101px;
 
    float: right;
    shape-outside: circle(50%);
    background-size: 80px;
    margin: 10px;
    position: relative;
    top: -45px;
    left: 78px;
    z-index: 2;
  }
  /*saci*/
  .personagem4 {
    width: 91px;
    height: 130px;
    background-size: 80px;
    margin: -5px;
    position: relative;
    left: -80px;
    top: 26px;
    z-index: 2;
  }
  
  .nuvensFrente {
    width: 608px;
    height: 795px;
    position: relative;
    top: -167px;
    left: -54px;
    background-image: url("../assets/personagens/img_fundo_div_nuvens.png");
    background-repeat: no-repeat;
    background-size: 775px 965px;
    background-position: -125px -92px;
    z-index: 1;
  }
  .fundotextoAbertura {
    width: 500px;
    /* height: 515px;*/
    height: 540px;
    background-color: #b0e2e0;
    padding: 0px;
    margin: auto;
    border-radius: 10%;
    background-image: url("../assets/personagens/img_fundo_div_textoAbertura.png");
    background-position: -13px -27px;
    background-size: 650px 601px;
    position: relative;
  }
  
  .folhaPagina1 a {
    text-decoration: none;
  }
  .bt-abertura {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: #ed8422;
    text-align: center;
    width: 174px;
    color: #fff;
    display: inline-block;
    margin: -18em 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #fff;
    /*transform: translate(150%);*/
    cursor: pointer;
    position: relative;
    top: -7px;
    left: 403px;
    z-index: 100;
  }
  
  .bt-abertura:hover:before{
    content: "";
    width: 0; 
    height: 0;
    top: 26px;
    left:163px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #995705;
    transform: rotate(45deg);
  }
  
  .bt-abertura:hover:after{
    content: "";
    width: 0; 
    height: 0;
    top: 19px;
    left:157px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fafaf9;
    transform: rotate(224deg);
  }
  
  .bt-abertura:hover{
    background-color: #f59b48;
  }
  /* ------ Fim Seção 1 ---------*/